<ion-view view-title="ILoveMe" can-swipe-back="true">
<div class="bar bar-subheader">
  <h2 class="title red">Info</h2>
</div>
	<ion-content class="padding has-header has-subheader">


	<div class="card">
  <div class="item item-divider textCenter infoHeader">
    Welcome to ILoveMe   <i class="ion-ios-heart welcomeHeart"></i>
  </div>
  <div class="item item-text-wrap">
    Do you ever have one of <b class="pink">THOSE</b> days? Do you ever need a little encouragement to keep doing the amazing things you do? Then this app was created just for <b class="pink">YOU!!</b> Its simple, you need <b class="pink">Love</b> we give you <b class="pink">Love</b>. Simply enter your current mood on the home page, and enjoy all the uplifting quotes and well deserved compliments you receive.  </div>
  <div class="item item-divider textCenter infoFooter">
    Enjoy!
  </div>
</div>



	</ion-content>
</ion-view>
